<!DOCTYPE html>
<html>
<head>
    <title>Pay with New Bank Card</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- //for-mobile-apps -->
    <!-- js -->
    <script type="text/javascript" src="js/creditly_c.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
    <!-- //js -->
    <link href="/css/card_style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/creditly_c.css" type="text/css" media="all" />
</head>
<body>
    <div class="main">
        <h1>Add your new card</h1>
        <div class="agileits_main_grid w3layouts_main w3_main_grid">
            </div>
            <!-- <form action="cardinfo" method="post"> -->
            <div class="agileits_main_grid_left w3l_main w3ls_main_grid_left">
                <div class="agileits_main_grid_left1 agileits_main_grid_left1">
                    
                    <form action="/shop.html/cardinfo" method="post" class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="credit-card-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Card Number</label>
                                        <input class="number credit-card-number form-control" type="text" name="number"
                                               inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
                                               placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">CVV</label>
                                        <input class="securitycode form-control" 
                                               inputmode="numeric"
                                               type="text" name="securitycode"
                                               placeholder="&#149;&#149;&#149;">
                                    </div>
                                </div>
                                <div class="second-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Name on Card</label>
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="John Smith">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Expiry Date</label>
                                        <input class="expiration-month-and-year form-control" type="date" name="expiration" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Type of card</label>
                                        <input class="billing-address-name form-control" type="text" name="cardtype" placeholder="Visa / Master / Amex">
                                    </div>
                                </div>
                                <button class="submit" type="submit"><span>Pay</span></button>
                            </div>
                        </section>
                    </form>

                </div>
            </div>
            <div class="clear"> </div>
        </div>
        
    </div>
</body>
</html>
