<% include partials/header.ejs %>

  <body>
        <div class="thumbnail">
                <!-- <a href="single_product.html">รท\ -->
                    <img src="../images/0001.jpg" alt="">
                </a>
            </div>
  </body>
</html>